<template name="modal">
	<!-- Modal -->
	<div id="{{id}}"
		 class="modal fade"
		 role="dialog"
		 data-backdrop="{{#if static}}static{{else}}none{{/if}}"
		 data-keyboard="{{#if static}}true{{else}}false{{/if}}">
		<div class="modal-dialog {{#if large}}modal-lg{{/if}}">
			<!-- Modal content-->
			<div class="modal-content">
				{{> Template.contentBlock ..}}
			</div>
		</div>
	</div>
</template>

<template name="mheader">
	<div class="modal-header">
		{{#if dismiss}}
			<button type="button" class="close dismiss-modal" data-dismiss="modal">&times;</button>{{/if}}
		{{#if title}}<h4 class="modal-title">{{title}}</h4>{{/if}}
		{{> Template.contentBlock ..}}
	</div>
</template>

<template name="mbody">
	<div class="modal-body">
		{{> Template.contentBlock ..}}
	</div>
</template>

<template name="mfooter">
	<div class="modal-footer">
		{{> Template.contentBlock ..}}
	</div>
</template>